body { 
    padding-top: 10px; padding-left: 5%; padding-right: 5%;
    font-family: Palatino; 
    background-color: #ffffff 
}


.intro {
    background-color: #fff4f4;
    border: 1px solid; 
    padding: 10px
}

.textbox {
    text-align: left;
    background-color: #c0c0ff;
    padding: 5%;
    margin-left:30px;
    margin-right:30px
}

a.example:link {color: black; text-decoration: none; border: solid black 1px; padding:4px; background: white}
a.example:visited {color: black; text-decoration: none; border: solid black 1px; padding:4px; background: white}
a.example:hover {background:#ffdc98}

a.example2:link {color: black; text-decoration: none; border: solid black 1px; padding:4px; background: white}
a.example2:visited {color: black; text-decoration: none; border: solid black 1px; padding:4px; background: white}
a.example2:hover {background:#c0c0ff}

.king {
    margin-left: 10px; margin-top:4px; margin-bottom:4px; 
    padding-left: 10px; padding-top: 3px; padding-bottom: 3px;
    background-color: white; 
    border: solid 1px black;
    font-style: italic;
    text-align: left
}

/* roScripts
Table Design by Mihalcea Romeo
www.roscripts.com
----------------------------------------------- */

table {
		border-collapse:collapse;
		background:#EFF4FB url(http://www.roscripts.com/images/teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
}

td, th {
		padding:5px;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

table a {
		color:#950000;
		text-decoration:none;
}

table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

table a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
		background:#333 url(http://www.roscripts.com/images/llsh.gif) repeat-x;
		color:#fff
}

tfoot td {
		text-align:right
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
		border-bottom: dotted 1px #333;
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}

.odd {}

tbody tr:hover {
		background:#fafafa
}

